/* REPLACE IT WITH THIS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}




:root {
  --background: background: -webkit-linear-gradient(90deg, #d0bdb7,#d1c4c0,#d0bdb7);background: linear-gradient(90deg, #d0bdb7,#d1c4c0,#d0bdb7);
  --foreground: #1a1a1f;

  --secondary: background: -webkit-linear-gradient(90deg, #1abc9c,#1f2c51);background: linear-gradient(90deg, #1abc9c,#1f2c51);
  --primary: #019192;

  --muted: #a3a3a3;
}

.dark {
  --foreground: #f4f4f5;
  --background: background: -webkit-linear-gradient(90deg, #000000,#000000,#021392);background: linear-gradient(90deg, #000000,#000000,#021392);

  --secondary: background: -webkit-linear-gradient(90deg, #1b2c55,#3d85a9,#63cac8,#b8edff);background: linear-gradient(90deg, #1b2c55,#3d85a9,#63cac8,#b8edff);
    --primary: #3d85a9;

  --muted: #d1d5db;
}


  /* Выравнивание заголовка в галерее по центру */
.yarl__slide_title {
  text-align: center !important;
}

.yarl__thumbnails_container, .yarl__carousel {
  background-color: rgba(0, 0, 0, 0.5);
}

.yarl__thumbnails_vignette {
  display: none !important;
}

.yarl__thumbnails_thumbnail {
  border-radius: 3rem !important;
  padding: 0
}
