/* REPLACE IT WITH THIS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --foreground: #000;
  --secondary: #6B7280;
}

.dark {
  --foreground: #fff;
  --secondary: #9CA3AF;
}